{% extends 'layout.html' %}

{% block body %}
  
    <form class="form main-form" action="/register">
      <h3>Register Today!</h3>
      {{ form.csrf_token }}
      <div class="firstname input-field">
        {{ form.firstName }}
      </div>
      <div class="lastname input-field">
        {{ form.lastName }}
      </div>
      <div class="email input-field">
        {{ form.email }}
      </div>
      <div class="password  input-field ">
        {{ form.password }}
      </div>
      <div class="btn-large">
        Register
      </div>
      
    </form>
  {% endblock %}

